{% extends 'layout.html' %}
{% set active_page = "vehicle" %}
{% block title %}
    Update vehicle page
{% endblock %}

{% block content %}
    <body>
    <div class="container" style="padding-top: 3%">
        <form method="POST" class="form-signin">
            {{ form.hidden_tag() }}
            <h1 class="h3 mb-3 font-weight-normal text-center">
                Update Vehicle
            </h1>
            <div class="m-4">
                <div class="row g-3">
                    <div class="col-6">
                        {{ form.engine_no.label(class="form-label") }}
                        {{ form.engine_no(class="form-control", placeholder="Engine no") }}
                    </div>
                    <div class="col-2">
                        {{ form.dealer.label(class="form-label") }}
                        {{ form.dealer(class="form-control", placeholder="Dealer") }}
                    </div>
                    <div class="col-2">
                        {{ form.status.label(class="form-label") }}
                        {{ form.status(class="form-control", placeholder="Status") }}
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-6">
                        {{ form.delivery_chellan_no.label(class="form-label") }}
                        {{ form.delivery_chellan_no(class="form-control", placeholder="Delivery chellan no") }}
                    </div>
                    <div class="col-6">
                        {{ form.description.label(class="form-label") }}
                        {{ form.description(class="form-control", placeholder="Description") }}
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-6">
                        {{ form.model.label(class="form-label") }}
                        {{ form.model(class="form-control", placeholder="Model") }}
                    </div>
                    <div class="col-6">
                        {{ form.comments.label(class="form-label") }}
                        {{ form.comments(class="form-control", placeholder="Comments") }}
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-6">
                        {{ form.GST.label(class="form-label") }}
                        {{ form.GST(class="form-control", placeholder="GST") }}
                    </div>
                    <div class="col-6">
                        {{ form.vehicle_type.label(class="form-label") }}
                        {{ form.vehicle_type(class="form-control", placeholder="Vehicle type") }}
                    </div>
                </div>
<br>
                <div class="text-center">
                    {{ form.submit(class="btn btn-lg btn-primary") }}
                    <a class="btn btn-lg btn-secondary" href="{{ url_for('vehicle.view_vehicle') }}">Cancel</a>
                </div>
            </div>
        </form>
    </div>
    </body>
{% endblock %}
