{% extends 'layout.html' %}
{% set active_page = "misc" %}
{% block title %}
    Exchange page
{% endblock %}
{% block content %}
    <br/>
    <div style="padding: 3% 2% 2% 2%">
        <div id="table"></div>
    </div>
    <script>
        const updateUrl = (prev, query) => {
            return prev + (prev.indexOf('?') >= 0 ? '&' : '?') + new URLSearchParams(query).toString();
        };

        new gridjs.Grid({
            columns: [
                {id: 'exchange_no', name: '#'},
                {id: 'frame_no', name: 'Frame No'},
                {id: 'vehicle_type', name: 'Vehicle Type', sort: false},
                {id: 'vehicle_name', name: 'Vehicle Name', sort: false},
                {id: 'exchange_vehicle_value', name: 'Exchange Vehicle Value', sort: false},
                {id: 'exchange_vehicle_name', name: 'Exchange Vehicle Name', sort: false},
                {id: 'payment_status', name: 'Status'},
                {id: 'in_date', name: 'In Date', sort: false},
                {id: 'out_date', name: 'Out Date', sort: false}
            ],
            server: {
                url: '/api/v1/misc/exchange/data',
                then: results => results.data,
                total: results => results.total,
            },
            search: {
                enabled: true,
                server: {
                    url: (prev, search) => {
                        return updateUrl(prev, {search});
                    },
                },
            },
            sort: {
                enabled: true,
                multiColumn: true,
                server: {
                    url: (prev, columns) => {
                        const columnIds = ['exchange_no', 'frame_no', 'payment_status'];
                        const sort = columns.map(col => (col.direction === 1 ? '+' : '-') + columnIds[col.index]);
                        return updateUrl(prev, {sort});
                    },
                },
            },
            pagination: {
                enabled: true,
                limit: 25,
                server: {
                    url: (prev, page, limit) => {
                        return updateUrl(prev, {start: page * limit, length: limit});
                    },
                },
            },
            fixedHeader: true,
            resizable: true,
            style: {
                table: {
                    'white-space': 'nowrap'
                }
            },
        }).render(document.getElementById('table'));
    </script>
{% endblock %}
<!-- Vehicle status available-->
<!--
if the vehicle status is delivered or register-completed then show the reg_no & date from booking table
-->